
body {
  padding-top: 54px;


}

@media (min-width: 992px) {
  body {
    margin-bottom: 5%;
  font-family: 'PT Sans', sans-serif;
  }
  .card {
    position: relative;
    margin-top: 9%;
    margin-bottom: 9%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #000;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.5);
    width: 300px;
    height: 450px;
  }
 .card   .btn-glyphicon {
    padding:8px;
    background:#ffffff;
    margin-right:4px;
}
.card .icon-btn {
    padding: 1px 15px 3px 2px;
    border-radius:50px;
  }
  .card .poster {
    position: relative;
    overflow: hidden;
  }
  
  .card .poster:before {
    content: "";
    position: absolute ;
    bottom: -190px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg,#000 50%, transparent);
    transition: 0.5s;
    z-index: 1;
  }
  
  .card:hover .poster:before {
    bottom: 1;
  }
  
  .card .poster img {
    width: 100%;
    transition: 0.5s;
  }
  
  .card:hover .poster img {
    filter: blur(10px);
    transform: translateY(-30px);
  }
  
  .details {
    position: absolute;
    padding: 20px;
    width: 100%;
    height: 74%;
    bottom: -190px;
    left: 0;
    box-sizing: border-box;
    transition: 0.5s;
    z-index: 2;
  }
  
  .card:hover .details {
    bottom: 0;
  }
  
  .details h2 {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 20px;;
    text-decoration-line: underline;
  }
  
  .details h2 span {
    font-size: 14px;
    color: #ff9800;
  }
  
  .rating {
    position: relative;
    padding: 5px, 0;
  }
  
  .rating .fa {
    color: #f7f406;
    margin-right: 2px;
    font-size: 16px;
  }
  
  
  .tags {
    position: relative;
    margin-top: 5px;
  }
  
  .tags span {
    padding: 2px 5px;
    margin-right: 2px;
    color: #fff;
    display: inline-block;
    border-radius: 4px;
  }
  
  .info {
    color: #fff;
  }
  
  .info p {
    margin: 15px, 0, 10px;
  }



}